.cart {
  position: fixed;
  height: 100vh;
  width: 350px;
  background-color: #12273d;
  /* mix-blend-mode: multiply; */
  backdrop-filter: blur(25px);
  right: -115%;
  bottom: 0;

  padding: 20px;
  z-index: 22;

  overflow: scroll;

  transition: all 0.4s ease-out;
}

.closeCart {
  margin-top: 64px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.active {
  position: fixed;
  height: 100vh;
  width: 350px;
  background-color: #12273d;
  /* mix-blend-mode: multiply; */
  backdrop-filter: blur(25px);
  right: 0;
  bottom: 0;

  overflow: auto;

  padding: 20px;
  z-index: 22;

  transition: all 0.4s ease-out;
}

.cartCar {
  padding: 20px 26px;
  background-color: #fff;

  display: flex;
  align-items: center;

  gap: 20px;

  margin-top: 24px;
}

.cartCar img {
  width: 50%;
}

.cartCar h3 {
  color: #741906;
  margin: 0;
}

.cartCar p {
  color: #232222f5;
  font-size: 12px;
}

.flexCart {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-top: 24px;
}

.flexCart button {
  border: none;
  cursor: pointer;
}

.decrease,
.increase {
  background-color: #741906;
  color: #fff;
  border: none;

  width: 32px;
  height: 32px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
}

.flexCart span {
  color: #12273d;
  font-size: 20px;
}

.decrease {
  border-radius: 4px 0 0 4px;
}

.increase {
  border-radius: 0 4px 4px 0;
}

.trash {
  background-color: transparent;
  font-size: 22px;

  color: #2c2a2a;
  align-self: flex-end;
}

.clearAll {
  /* position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%); */

  margin: 100% auto 0;

  background-color: #741906;
  color: #fff;
  border-radius: 4px;

  font-size: 20px;

  padding: 8px 16px;
  border: none;

  display: flex;
  gap: 10px;

  cursor: pointer;
}

.empty {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 400px) {
  .active {
    width: 100%;
    padding: 0;
  }

  .cartCar {
    width: 80%;
    margin: 0 auto;
  }
}
