.cardCar {
  padding: 40px;
  /* height: 450px; */

  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.1);
}

.cardCar img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.cardCar h3 {
  text-align: center;
  font-size: 24px;

  color: #741906;
  margin: 12px 0 0;
}

.carClass {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: #232222;
}

.carDesc {
  font-size: 12px;
  color: #232222;
  margin-top: 26px;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 64px;
}

.luggageFlex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.seats svg {
  color: #12273d;
}

.seats span {
  color: #741906;
}

.btnBuy {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btnBuy button {
  background-color: #741906;
  color: #fff;
  border: none;

  width: 36px;
  height: 36px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
}

.btnBuy span {
  color: #12273d;
  font-size: 24px;
}

.decrease {
  border-radius: 4px 0 0 4px;
}

.increase {
  border-radius: 0 4px 4px 0;
}
