.aboutSection {
  display: flex;
  align-items: center;
  gap: 64px;

  padding: 100px 64px;
  max-width: 1200px;
  margin: 0 auto 52px;
}

.aboutSection h2 {
  color: #741906;
  font-family: "Lora";
  font-size: 62px;

  position: relative;
}

.aboutSection h2::after {
  content: "ABOUT US";

  position: absolute;
  left: -2%;
  top: -112%;

  font-size: 114px;
  font-weight: 700;

  color: #ebebeb;

  z-index: -1;
}

.aboutSection p {
  color: #232730;
}

.imgCar {
  position: relative;
}

.imgCar img:last-child {
  width: 380px;
}

.imgCar img:first-child {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);

  width: 100%;
}

/* Responsive */
@media (max-width: 1200px) {
  .aboutSection h2 {
    font-size: 46px;
  }

  .aboutSection h2::after {
    font-size: 86px;
  }
}

@media (max-width: 1000px) {
  .aboutSection h2::after {
    font-size: 72px;
  }

  .imgCar img:last-child {
    width: 320px;
  }
}

@media (max-width: 880px) {
  .aboutSection h2::after {
    font-size: 68px;
  }

  .imgCar img:last-child {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    padding: 100px 32px;
    max-width: 1400px;
  }

  .aboutSection h2 {
    text-align: center;
  }

  .aboutSection h2::after {
    width: 300px;
    font-size: 55px;
    left: 50%;
    transform: translateX(-50%);
    top: -70%;
  }

  .imgCar {
    display: none;
  }
}
