.carsCompany {
  background-color: #e5e5e5;
}

.contCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 72px;
}

.carsCompany img {
  width: 5%;
  height: 5%;
}

/* Responsive */
@media (max-width: 960px) {
  .contCompany {
    padding: 64px;
  }

  .carsCompany img {
    width: 10%;
    height: 10%;
  }
}

@media (max-width: 600px) {
  .contCompany {
    padding: 28px;
  }

  .carsCompany img {
    width: 12%;
    height: 12%;
  }
}
