.header {
  background-image: url("../../assets/Background.webp");
  background-color: #12273d;
  background-size: cover;
  background-position: center center;

  position: relative;
  /* padding-top: 100px; */
  padding-bottom: 100px;

  /* height: 100vh; */
}

.headerSticky {
  padding: 86px 0;
}

nav {
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  color: #12273d;
  background-color: #fafafa;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.05);

  z-index: 111;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 64px;
  max-width: 1200px;
  margin: 0 auto;
}

.sticky .nav {
  max-width: 100%;
  justify-content: space-between;
  margin: 0;
}

nav a {
  text-decoration: none;
}

.logo {
  font-family: "Lora";
  font-size: 32px;

  color: white;
}

.sticky .logo,
.sticky .logo span:first-child {
  color: #12273d;
}

.logo span:first-child {
  font-weight: 700;
  color: white;
}

/* Navbar  */
nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;

  padding: 4px 8px;

  font-size: 18px;
  font-weight: 700;
}

.sticky ul li a {
  color: #12273d;
}

/* Active class */
a.active {
  background-color: #741906;
  border-radius: 6px;
}

.sticky a.active {
  color: #fff;
}

/* Cart  */
.cartItem {
  display: flex;
  position: relative;
}

.cartItem button {
  background-color: transparent;
  border: none;
  color: #fff;

  font-size: 24px;

  cursor: pointer;
}

.cartItem button svg path {
  fill: #fff;
}

.sticky .cartItem button {
  color: #741906;
}

.sticky .cartItem button svg path {
  fill: #741906;
}

.cartItem div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-0%, -120%);

  padding: 2px 6px;
  border-radius: 4px;

  background-color: #f8d7a4;
  color: #223f5c;
  font-weight: 600;
}

.sticky .cartItem div {
  background-color: #741906;
  color: #fafafa;
}

/* NavCart Flex */
.navCartFlex {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Hero Section Info */
.heroInfo {
  text-align: right;
  max-width: 1200px;

  padding: 0 64px;
  color: #fff;

  margin: 36px auto;
}

.innerHeroInfo {
  margin-left: auto;
  width: 50%;

  font-family: "lora";
}

.heroInfo h1 {
  margin: 0;

  font-size: 64px;
}

.heroInfo p {
  font-size: 26px;
  font-weight: 700;
}

.innerHeroInfo a {
  display: flex;
  align-items: center;
  gap: 16px;

  width: fit-content;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 42px;
  margin-left: auto;

  font-family: "lora";
  font-size: 24px;

  background: none;
  border: 2px solid #fff;
  border-radius: 6px;

  color: #fff;

  cursor: pointer;
  transition: all 0.3s;
}

.innerHeroInfo a:hover {
  background-color: #fff;
  color: #000;
}

.innerHeroInfo a:hover path {
  stroke: #000;
}

.arrow {
  width: 14px;
}

.menuBar {
  display: none;
}

/*  Responsive */
@media (max-width: 991px) {
  /* Nav */
  nav ul {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  /* Hero */
  .heroInfo h1 {
    font-size: 52px;
  }

  .heroInfo p {
    font-size: 22px;
    font-weight: 700;
  }
}

@media (max-width: 860px) {
  /* Nav */
  nav ul {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* Hero */
  .heroInfo h1 {
    font-size: 46px;
  }
}

@media (max-width: 800px) {
  /* Nav */

  nav ul {
    position: fixed;
    top: 51px;
    right: -100%;

    height: 100vh;
    width: 50%;
    background-color: #12273d;

    padding: 100px 0;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    transition: all 0.4s;
  }

  nav .showMenu {
    right: 0;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    padding: 20px 42px;
  }

  a.active {
    width: 100%;
    background-color: #741906;
    border-radius: 6px;
  }

  .sticky ul li a {
    color: #fff;
  }

  /* Mobile */
  .menuBar {
    display: block;
    font-size: 32px;
    cursor: pointer;
    color: #fff;
  }

  .sticky .menuBar {
    color: #1f2430;
  }
}

@media (max-width: 768px) {
  .header .nav {
    padding: 12px 32px;
  }

  .innerHeroInfo {
    width: 100%;
    margin-top: 200px;
  }

  .innerHeroInfo a {
    margin: 42px auto;
  }

  .header .heroInfo {
    padding: 0 32px;

    text-align: center;
  }

  .heroInfo h1 {
    font-size: 46px;
    text-align: center;
  }
}
