.servicesSection {
  background-image: url("../../assets/CTA-BG.png");
  background-size: cover;
  background-color: #dfdfdf;
  background-position: center center;

  padding-top: 100px;
  padding-bottom: 100px;
}

.servicesSection .container {
  padding: 0 64px;
  max-width: 1200px;
  margin: 0 auto;
}

.servicesSection h2 {
  text-align: center;

  color: #12273d;
  font-family: "Lora";
  font-size: 52px;

  position: relative;
  z-index: 1;
}

.servicesSection h2::after {
  content: "SERVICES";

  position: absolute;
  left: 50%;
  top: -120%;
  transform: translateX(-50%);

  font-size: 114px;
  font-weight: 700;

  color: #ebebeb;

  z-index: -1;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;

  text-align: center;

  margin-top: 100px;
}

/* Responsive */

@media (max-width: 768px) {
  /* .servicesSection {
    height: 100vh;
  } */

  .servicesSection h2 {
    font-size: 42px;
  }

  .servicesSection h2::after {
    font-size: 72px;
  }

  .boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 32px;
    margin-top: 80px;
  }
}

@media (max-width: 690px) {
  /* .servicesSection {
    height: 105vh;
  } */

  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .boxes {
    gap: 20px;
  }

  .servicesSection .container {
    padding: 80px 32px;
  }
}

@media (max-width: 380px) {
  .servicesSection {
    height: 150vh;
  }
}
