.box {
  color: #12273d;
}

.box svg {
  font-size: 58px;
}

.box h3 {
  margin: 46px 0 -5px;
  font-size: 24px;
}

/* Responsive */
@media (max-width: 768px) {
  .box svg {
    font-size: 40px;
  }

  .box h3 {
    margin: 24px 0 -5px;
  }
}

@media (max-width: 500px) {
  .box svg {
    font-size: 32px;
  }

  .box h3 {
    margin: 24px 0 -5px;
  }
}
